* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background:linear-gradient(to bottom,#FF9933,#ffffff,#138808);
    background-position: center;
    position: relative;
}
.aazadi,.vocal,.india,.atam{
    display: flex;
    height:55vh;
    width: 70vw;
    background: linear-gradient(to left top,rgba(255,255,255,0.5),rgba(255,255,255,0.7)) no-repeat;
    box-shadow: 10px 20px 20px 20px rgba(0, 0, 0, 0.7);
    border-radius: 5rem 3rem;
    margin: 4rem;
    padding: 3rem;
}